@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
html {
    scroll-behavior: smooth;
  }
body{

}
@media screen and (max-width: 600px) {
  p.text {
    font-size: 100000px;
  }
}
.container {
  color: #fff;
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: auto;
  background-color: black;
  color: #f8f8f8;
}
span{
  color: #fff;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
}
/**HEADING**/
.seven h1 {
  color: rgb(248, 245, 245) !important;
      text-align: center;
      font-family: sans-serif;
      font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
      text-transform: uppercase;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .seven h1:after,.seven h1:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #c50000;
      border-top: 1px solid #c50000;
      height: 5px;
    background-color:#0c0202;
  }
  

/** Button Code **/

.button {
  width: 72px;
  height: 72px;
  line-height: 72px;
  display: block;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  color: #333;
}

.button:hover {
  color: #fff;
}

.button:after {
    position: absolute !important;
  content: "";
  width: 56px;
  height: 56px;
  display: block;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: #333;
  right: 8px;
  top: 8px;
  background-color: #333;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  z-index: -1;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button:hover:after {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  display: block\9;
  border: #333;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/*HEADING MAIN*/
/* Style 9
   ----------------------------- */
   .nine h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:rgb(250, 255, 255); letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
  }
  .nine h1 span {
    margin-top: 5px;
      font-size:15px; color:rgb(255, 255, 255); word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .nine h1 span:after,.nine h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid rgb(248, 246, 246);
      border-top: 1px solid rgb(228, 225, 225);
      height: 5px;
    background-color:#0c0c0c;
  }
  /*button*/
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(226, 224, 224); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-style: italic;
  }
  
  #myBtn:hover {
    background-color: rgb(236, 234, 234);/* Add a dark-grey background on hover */

  }